* {
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
}

body {
    background-image: url('/img/pageBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Hauteur de la fenêtre */
}

/* Container for Tetris game */
#tetrisContainer {
    position: relative;
    display: block;
    width: 300px;
    height: 540px;
    margin-right: 20px; /* Écart à droite de la prochaine pièce */
    margin-left: 20px; /* Ajout de marge à gauche */
    image-rendering: pixelated;
}


/* Container for menu */
#menuContainer {
    position: absolute;
    top: 50%; /* Positionner le haut à 50% de la fenêtre */
    left: 50%; /* Positionner la gauche à 50% de la fenêtre */
    transform: translate(-50%, -50%); /* Centrer le conteneur */
    text-align: center;
    z-index: 1000;
    width: 100%; /* Assurer que le conteneur occupe toute la largeur de #tetrisContainer */
}

/* Start button */
#startButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

}

/* Restart button */
#restartButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    margin:auto;
}
/* Container for next piece */
#nextPieceContainer {
    position: relative;
    top: 0;
    left: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Canvas for next piece */
#nextPieceCanvas {
    width: 120px;
    height: 120px;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    background-color: black;
    image-rendering: pixelated;
}

/* Container for score */
#score {
    position: absolute;
    top: 0; /* Réajustement de la position */
    left: 20px; /* Écart à gauche du Tetris */
    color: white;
    font-size: 24px;
}

#controls{
    color: white;
    font-size: 24px;
    background-color: black;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 5px;
}

#leaderboard{
    color: white;
    font-size: 24px;
    background-color: black;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 5px;
}