* {
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
}

body {
    background-image: url('/img/pageBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for Tetris game */
#tetrisContainer {
    position: relative;
    display: block;
    width: 300px;
    height: 540px;
    margin-right: 20px; /* Écart à droite de la prochaine pièce */
    margin-left: 20px; /* Ajout de marge à gauche */
    image-rendering: pixelated;
}


/* Container for menu */
#menuContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    width: 100%;
}

/* Start button */
#startButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

}

/* Restart button */
#restartButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    margin:auto;
}

/* Container for next piece */
#nextPieceContainer {
    position: relative;
    top: 0;
    left: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Canvas for next piece */
#nextPieceCanvas {
    width: 120px;
    height: 120px;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    background-color: black;
    image-rendering: pixelated;
}

/* Container for score */
#score {
    position: absolute;
    top: 0;
    left: 20px;
    color: white;
    font-size: 24px;
}

/* Container for controls panel */
#controls{
    color: white;
    font-size: 24px;
    background-color: black;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 5px;
}

/* Container for leaderboard panel */
#leaderboard{
    color: white;
    font-size: 24px;
    background-color: black;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 5px;
}